/* Movie body */
.movie-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 200px;
  height: 350px;
  margin: 10px;
  padding: 1.25rem;
  margin-bottom: 40px;
}

.image {
  height: 200px;
  margin: 0 auto;
}
/* end of movie body */

/* Movie Boxes */
.card-btn {
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
}

/* End of movie boxes */
